
body {
    font: 100%/1.66 'Antic', sans-serif;
}

$baseLineHeight: 24px;
$linkColor: #AE3737;

@import "compass_twitter_bootstrap";

h1, h2, h3, h4, h5, h6, .page-header {

    font-family: 'Alice', serif;
    margin: 1em 0;
}

.container {
    position: relative;
    margin-top: 1em;
}

p {
    text-rendering: optimizeLegibility;
}

body.rotate {
    cursor: url(../images/cursor-rotate.png) 8 8, move;
}

#instructions {
    position: absolute;
    top: 9em;
    right: -1em;
    padding: 0.5em 1em;
    z-index: 2;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255,255,255, 0.5);
}

#video {
    margin-bottom: 6em;

    .thumbnail {
        margin-left: 4em;
    }
}

.js .site-thumb {
   display: none; 
}

#svg-wrap {
    width: 100%;
    height: 600px;
    // box-shadow: 0 0 4px #888 inset;
}

.credit {
    float: right;
    font-size: 16px;
    font-size: 1rem;
}

#no-svg-msg {
    display: none;
}

.no-svg {
    #no-svg-msg {
        @extend .span4;
        display: block;
    }

    #svg-wrap {
        display: none;
    }
}

.page-footer {
    border-top: 1em solid #191919;
    background: #F0EFD1;
    color: #191919;
    padding: 3em 0 6em;
}

.about p {
    overflow: hidden;
}
.twitter-coffee {
    overflow: hidden;
    margin: 0 1em 0 -6px;
}

